.result-list-item {
    cursor: pointer;
}
a.link {
    color: lightblue;
    text-decoration: none;
}
a.link:hover {
    color: lightcoral;
}

img.result-image {
    max-width: 200px;
}

.result-image {
    max-width: 200px;
}

.search-resul-item-name {
    margin-bottom: 5px;
}